@font-face {
  font-family: 'Wikicon-Regular';
  src: url('Wikicon.eot'); /* IE9 Compat Modes */
  src: url('Wikicon.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Wikicon.woff') format('woff'), /* Modern Browsers */
       url('Wikicon.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Wikicon.svg#8088f7bbbdba5c9832b27edb3dfcdf09') format('svg'); /* Legacy iOS */
}


/* UI ELEMENTS e000-023
*/

.wikicon-magnifying-glass:before {
  content: "\e000";
}
.wikicon-arrow-left:before {
  content: "\e001";
}
.wikicon-tick:before {
  content: "\e002";
}
.wikicon-x:before {
  content: "\e003";
}
.wikicon-x-circle:before {
  content: "\e004";
}
.wikicon-unstar:before {
  content: "\e005";
}
.wikicon-star:before {
  content: "\e006";
}
.wikicon-sun:before {
  content: "\e007";
}
.wikicon-star-circle:before {
  content: "\e008";
}
.wikicon-funnel:before {
  content: "\e009";
}
.wikicon-eye:before {
  content: "\e010";
}
.wikicon-eye-lid:before {
  content: "\e011";
}
.wikicon-bookmark:before {
  content: "\e012";
}
.wikicon-printer:before {
  content: "\e013";
}
.wikicon-puzzle:before {
  content: "\e014";
}
.wikicon-clock:before {
  content: "\e015";
}
.wikicon-dice:before {
  content: "\e016";
}
.wikicon-move:before {
  content: "\e017";
}
.wikicon-gear:before {
  content: "\e018";
}
.wikicon-ellipsis:before {
  content: "\e019";
}
.wikicon-envelope:before {
  content: "\e020";
}
.wikicon-pin:before {
  content: "\e021";
}
.wikicon-caret:before {
  content: "\e022";
}
.wikicon-download:before {
  content: "\e023";
}


/* STRIPES e040-043
*/
.wikicon-stripe-compact:before {
  content: "\e040";
}
.wikicon-stripe-toc:before {
  content: "\e041";
}
.wikicon-stripe-expanded:before {
  content: "\e042";
}


/* WIKIPEDIA LOGO e400-401
*/

.wikicon-w:before {
  content: "\e400";
}


/* UI MODERATION ELEMENTS e500-508 
*/

.wikicon-article:before {
  content: "\e100";
}
.wikicon-article-check:before {
  content: "\e101";
}
.wikicon-article-search:before {
  content: "\e102";
}

.wikicon-trash:before {
  content: "\e500";
}
.wikicon-trash-slash:before {
  content: "\e501";
}
.wikicon-block:before {
  content: "\e502";

.wikicon-block-slash:before {
  content: "\e503";
}
.wikicon-flag:before {
  content: "\e504";
}
.wikicon-flag-slash:before {
  content: "\e505";
}
.wikicon-play:before {
  content: "\e506";
}
.wikicon-stop:before {
  content: "\e507";
}
.wikicon-lock:before {
  content: "\e508";
}


/* USER e600-602
*/
.wikicon-user-bust:before {
  content: "\e600";
}
.wikicon-user-smile:before {
  content: "\e601";
}
.wikicon-user-sleep:before {
  content: "\e602";
}


/* TRANSLATION e700
*/
.wikicon-translate:before {
  content: "\e700";
}


/* CONTRIBUTION e800-845
*/
.wikicon-pencil:before {
  content: "\e800";
}
.wikicon-pencil-revert:before {
  content: "\e801";
}
.wikicon-pencil-lock:before {
  content: "\e802";
}


.wikicon-speech-bubble:before {
  content: "\e810";
}
.wikicon-speech-bubbles:before {
  content: "\e811";
}
.wikicon-speech-bubble-add:before {
  content: "\e812";
}
.wikicon-speech-bubble-smile:before {
  content: "\e813";
}


.wikicon-link:before {
  content: "\e820";
}


.wikicon-quotes:before {
  content: "\e830";
}
.wikicon-quotes-add:before {
  content: "\e831";
}


.wikicon-image:before {
  content: "\e840";
}
.wikicon-image-lock:before {
  content: "\e841";
}
.wikicon-image-add:before {
  content: "\e842";
}
.wikicon-image-main-placeholder:before {
  content: "\e843";
}
.wikicon-folder:before {
  content: "\e844";
}
.wikicon-folder-main-placeholder:before {
  content: "\e845";
}


/* WIKI-X e900
*/
.wikicon-wikitrail:before {
  content: "\e900";
}





