@font-face {
  font-family: 'WikiFont-Regular';
  src: url('WikiFont.eot'); /* IE9 Compat Modes */
  src: url('WikiFont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('WikiFont.woff') format('woff'), /* Modern Browsers */
       url('WikiFont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('WikiFont.svg#8088f7bbbdba5c9832b27edb3dfcdf09') format('svg'); /* Legacy iOS */
}


/* UI ELEMENTS e000-023
*/

.WikiFont-magnifying-glass:before {
  content: "\e000";
}
.WikiFont-arrow-left:before {
  content: "\e001";
}
.WikiFont-tick:before {
  content: "\e002";
}
.WikiFont-x:before {
  content: "\e003";
}
.WikiFont-x-circle:before {
  content: "\e004";
}
.WikiFont-unstar:before {
  content: "\e005";
}
.WikiFont-star:before {
  content: "\e006";
}
.WikiFont-starList:before {
  content: "\e007";
}
.WikiFont-sun:before {
  content: "\e008";
}
.WikiFont-star-circle:before {
  content: "\e009";
}
.WikiFont-eye:before {
  content: "\e010";
}
.WikiFont-eye-lid:before {
  content: "\e011";
}
.WikiFont-bookmark:before {
  content: "\e012";
}
.WikiFont-printer:before {
  content: "\e013";
}
.WikiFont-puzzle:before {
  content: "\e014";
}
.WikiFont-clock:before {
  content: "\e015";
}
.WikiFont-dice:before {
  content: "\e016";
}
.WikiFont-move:before {
  content: "\e017";
}
.WikiFont-gear:before {
  content: "\e018";
}
.WikiFont-ellipsis:before {
  content: "\e019";
}
.WikiFont-envelope:before {
  content: "\e020";
}
.WikiFont-pin:before {
  content: "\e021";
}
.WikiFont-funnel:before {
  content: "\e022";
}
.WikiFont-download:before {
  content: "\e023";
}
.WikiFont-bell:before {
  content: "\e025";
}
.WikiFont-bell-ring:before {
  content: "\e026";
}
.WikiFont-caretDown:before {
  content: "\e028";
}
.WikiFont-caret-left:before {
  content: "\e027";
}
.WikiFont-caret-down:before {
  content: "\e028";
}


/* STRIPES e040-043
*/
.WikiFont-stripe-compact:before {
  content: "\e040";
}
.WikiFont-stripe-toc:before {
  content: "\e041";
}
.WikiFont-stripe-expanded:before {
  content: "\e042";
}


/* WIKIPEDIA LOGO e400-401
*/

.WikiFont-w:before {
  content: "\e400";
}


/* UI MODERATION ELEMENTS e500-508 
*/

.WikiFont-article:before {
  content: "\e100";
}
.WikiFont-article-check:before {
  content: "\e101";
}
.WikiFont-article-search:before {
  content: "\e102";
}

.WikiFont-trash:before {
  content: "\e500";
}
.WikiFont-trash-slash:before {
  content: "\e501";
}
.WikiFont-block:before {
  content: "\e502";
}
.WikiFont-block-slash:before {
  content: "\e503";
}
.WikiFont-flag:before {
  content: "\e504";
}
.WikiFont-flag-slash:before {
  content: "\e505";
}
.WikiFont-play:before {
  content: "\e506";
}
.WikiFont-stop:before {
  content: "\e507";
}
.WikiFont-lock:before {
  content: "\e508";
}


/* USER e600-602
*/
.WikiFont-user-bust:before {
  content: "\e600";
}
.WikiFont-user-smile:before {
  content: "\e601";
}
.WikiFont-user-sleep:before {
  content: "\e602";
}


/* TRANSLATION e700
*/
.WikiFont-translate:before {
  content: "\e700";
}


/* CONTRIBUTION e800-845
*/
.WikiFont-pencil:before {
  content: "\e800";
}
.WikiFont-pencil-revert-full:before {
  content: "\e801";
}
.WikiFont-pencil-revert-pt1:before {
  content: "\e802";
}
.WikiFont-pencil-revert-pt2:before {
  content: "\e803";
}
.WikiFont-pencil-lock-full:before {
  content: "\e804";
}
.WikiFont-pencil-lock-pt1:before {
  content: "\e805";
}
.WikiFont-pencil-lock-pt2:before {
  content: "\e806";
}


.WikiFont-speech-bubble:before {
  content: "\e810";
}
.WikiFont-speech-bubbles:before {
  content: "\e811";
}
.WikiFont-speech-bubble-add:before {
  content: "\e812";
}
.WikiFont-speech-bubble-smile:before {
  content: "\e813";
}


.WikiFont-link:before {
  content: "\e820";
}


.WikiFont-quotes:before {
  content: "\e830";
}
.WikiFont-quotes-add:before {
  content: "\e831";
}


.WikiFont-image:before {
  content: "\e840";
}
.WikiFont-image-lock-full:before {
  content: "\e841";
}
.WikiFont-image-lock-pt1:before {
  content: "\e842";
}
.WikiFont-image-lock-pt2:before {
  content: "\e843";
}
.WikiFont-image-add-full:before {
  content: "\e844";
}
.WikiFont-image-add-pt1:before {
  content: "\e845";
}
.WikiFont-image-add-pt2:before {
  content: "\e846";
}
.WikiFont-image-main-placeholder:before {
  content: "\e847";
}
.WikiFont-folder:before {
  content: "\e848";
}
.WikiFont-folder-main-placeholder:before {
  content: "\e849";
}


/* WIKI-X e900
*/
.WikiFont-wikitrail:before {
  content: "\e900";
}





