@font-face {
  font-family: 'Wikicons-Regular';
  src: url('wikicons.eot'); /* IE9 Compat Modes */
  src: url('wikicons.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('wikicons.woff') format('woff'), /* Modern Browsers */
       url('wikicons.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('wikicons.svg#8088f7bbbdba5c9832b27edb3dfcdf09') format('svg'); /* Legacy iOS */
}


/* UI ELEMENTS e000-021
*/

.wikicons-magnifying-glass:before {
  content: "\e000";
}
.wikicons-arrow-left:before {
  content: "\e001";
}
.wikicons-tick:before {
  content: "\e002";
}
.wikicons-x:before {
  content: "\e003";
}
.wikicons-x-circle:before {
  content: "\e004";
}
.wikicons-unstar:before {
  content: "\e005";
}
.wikicons-star:before {
  content: "\e006";
}
.wikicons-sun:before {
  content: "\e007";
}
.wikicons-starCircle:before {
  content: "\e008";
}
.wikicons-funnel:before {
  content: "\e009";
}
.wikicons-eye:before {
  content: "\e010";
}
.wikicons-eye-lid:before {
  content: "\e011";
}
.wikicons-bookmark:before {
  content: "\e012";
}
.wikicons-printer:before {
  content: "\e013";
}
.wikicons-puzzle:before {
  content: "\e014";
}
.wikicons-clock:before {
  content: "\e015";
}
.wikicons-dice:before {
  content: "\e016";
}
.wikicons-move:before {
  content: "\e017";
}
.wikicons-gear:before {
  content: "\e018";
}
.wikicons-ellipsis:before {
  content: "\e019";
}
.wikicons-envelope:before {
  content: "\e020";
}
.wikicons-pin:before {
  content: "\e021";
}


/* STRIPES e040-043
*/
.wikicons-stripeCompact:before {
  content: "\e040";
}
.wikicons-stripeToc:before {
  content: "\e041";
}
.wikicons-stripeExpanded:before {
  content: "\e042";
}


/* UI MODERATION ELEMENTS e500-508 
*/

.wikicons-article:before {
  content: "\e100";
}
.wikicons-articleCheck:before {
  content: "\e101";
}
.wikicons-articleSearch:before {
  content: "\e102";
}

.wikicons-trash:before {
  content: "\e500";
}
.wikicons-trash-slash:before {
  content: "\e501";
}
.wikicons-block:before {
  content: "\e502";

.wikicons-block-slash:before {
  content: "\e503";
}
.wikicons-flag:before {
  content: "\e504";
}
.wikicons-flag-slash:before {
  content: "\e505";
}
.wikicons-play:before {
  content: "\e506";
}
.wikicons-stop:before {
  content: "\e507";
}
.wikicons-lock:before {
  content: "\e508";
}


/* USER e600-602
*/
.wikicons-user-bust:before {
  content: "\e600";
}
.wikicons-user-smile:before {
  content: "\e601";
}
.wikicons-user-sleep:before {
  content: "\e602";
}


/* TRANSLATION e700
*/
.wikicons-translate:before {
  content: "\e700";
}


/* CONTRIBUTION e800-845
*/
.wikicons-pencil:before {
  content: "\e800";
}
.wikicons-pencil-revert:before {
  content: "\e801";
}
.wikicons-pencil-lock:before {
  content: "\e802";
}


.wikicons-speech-bubble:before {
  content: "\e810";
}
.wikicons-speech-bubbles:before {
  content: "\e811";
}
.wikicons-speech-bubble-add:before {
  content: "\e812";
}
.wikicons-speech-bubble-smile:before {
  content: "\e813";
}


.wikicons-link:before {
  content: "\e820";
}


.wikicons-quotes:before {
  content: "\e830";
}
.wikicons-quotes-add:before {
  content: "\e831";
}


.wikicons-image:before {
  content: "\e840";
}
.wikicons-image-lock:before {
  content: "\e841";
}
.wikicons-image-add:before {
  content: "\e842";
}
.wikicons-image-MainPlaceholder:before {
  content: "\e843";
}
.wikicons-folder:before {
  content: "\e844";
}
.wikicons-folder-MainPlaceholder:before {
  content: "\e845";
}


/* WIKI-X e900
*/
.wikicons-wikitrail:before {
  content: "\e900";
}





